html, body {
  margin: 0;
  padding: 0;
	width: 100%;
	height: 100%;

  font: 500 10px/1.2 "Wt-Position", "Helvetica Neue", "Nimbus Sans L", Helvetica, Arial, sans-serif;

  background: #000;
  color: #888;
}

$automaton-height: 240px;

canvas {
  position: absolute;
  image-rendering: pixelated;
  height: calc( 100% - #{$automaton-height} );
}

#divUI {
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: $automaton-height;

  #divCountdown {
    font-size: 20px;
  }
}

#divAutomaton {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $automaton-height;
}